USE [master]
GO
/****** Object:  Database [Shakalya_Database]    Script Date: 2/19/2024 9:58:39 PM ******/
CREATE DATABASE [Shakalya_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shakalya_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shakalya_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shakalya_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shakalya_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shakalya_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shakalya_Database]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Clnt_ID] [int] NOT NULL,
	[Clnt_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Clnt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Loc_ID] [int] NOT NULL,
	[Loc_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Loc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[Prod_ID] [int] NOT NULL,
	[Prod_Name] [varchar](100) NULL,
	[Clnt_ID] [int] NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Prod_Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Prod_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production_Property_Location]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Property_Location](
	[Prod_ID] [int] NULL,
	[Prop_ID] [int] NULL,
	[Loc_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[Prop_ID] [int] NOT NULL,
	[Prop_Name] [varchar](50) NULL,
	[Prop_Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Prop_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[St_ID] [int] NOT NULL,
	[St_Name] [varchar](100) NULL,
	[St_Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[St_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Production]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Production](
	[Prod_ID] [int] NULL,
	[St_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Types]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Types](
	[St_Type] [varchar](50) NOT NULL,
	[St_Fee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[St_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Login]    Script Date: 2/19/2024 9:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Login](
	[UID] [int] NOT NULL,
	[Uname] [varchar](100) NULL,
	[Pass] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Clnt_ID] FOREIGN KEY([Clnt_ID])
REFERENCES [dbo].[Client] ([Clnt_ID])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Clnt_ID]
GO
ALTER TABLE [dbo].[Production_Property_Location]  WITH CHECK ADD  CONSTRAINT [FK_Production_Property_Location_Loc_ID] FOREIGN KEY([Loc_ID])
REFERENCES [dbo].[Location] ([Loc_ID])
GO
ALTER TABLE [dbo].[Production_Property_Location] CHECK CONSTRAINT [FK_Production_Property_Location_Loc_ID]
GO
ALTER TABLE [dbo].[Production_Property_Location]  WITH CHECK ADD  CONSTRAINT [FK_Production_Property_Location_Prod_ID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Production] ([Prod_ID])
GO
ALTER TABLE [dbo].[Production_Property_Location] CHECK CONSTRAINT [FK_Production_Property_Location_Prod_ID]
GO
ALTER TABLE [dbo].[Production_Property_Location]  WITH CHECK ADD  CONSTRAINT [FK_Production_Property_Location_Prop_ID] FOREIGN KEY([Prop_ID])
REFERENCES [dbo].[Property] ([Prop_ID])
GO
ALTER TABLE [dbo].[Production_Property_Location] CHECK CONSTRAINT [FK_Production_Property_Location_Prop_ID]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_St_Type] FOREIGN KEY([St_Type])
REFERENCES [dbo].[Staff_Types] ([St_Type])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_St_Type]
GO
ALTER TABLE [dbo].[Staff_Production]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Production_Prod_ID] FOREIGN KEY([Prod_ID])
REFERENCES [dbo].[Production] ([Prod_ID])
GO
ALTER TABLE [dbo].[Staff_Production] CHECK CONSTRAINT [FK_Staff_Production_Prod_ID]
GO
ALTER TABLE [dbo].[Staff_Production]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Production_St_ID] FOREIGN KEY([St_ID])
REFERENCES [dbo].[Staff] ([St_ID])
GO
ALTER TABLE [dbo].[Staff_Production] CHECK CONSTRAINT [FK_Staff_Production_St_ID]
GO
USE [master]
GO
